body {
    background-color: #ffffff;
}

h1, 
h2 {
    font-family: serif;
}

h2.bing-heading {
    font-family: sans-serif;
    margin-left: 100px;
    letter-spacing: 3px
}


.title {
    font-family: sans-serif;

}

.form-control {
    margin-left: 170px;
}

.duckduckgo-img {
    height: 20%;
    width: 20%;
}

.duckduckSearch {
    margin-left: 0px;
}
